<?xml version="1.0"?>
<launch>
  <!-- motor control -->
  <include file="$(find roboclaw_ros)/launch/roboclaw.launch">
	  <arg name="respawn" value="true" />
  </include>
  <include file="$(find pololu_ros)/launch/pololu_node.launch">
	  <arg name="respawn" value="true" />
  </include>

  <!-- sound board -->
  <include file="$(find utilities)/launch/sound_board.launch">
  </include>

  <!-- teleop -->
  <include file="$(find gamepad)/launch/gamepad_control.launch">
  </include>
</launch>
