<?xml version="1.0"?>
<launch>
<!-- drum motor -->
	<include file="$(find roboclaw_ros)/launch/roboclaw.launch">
		<arg name="respawn" value="false" />
	</include>

<!-- zed -->
	<include file="/home/usr/source/usr_ws/src/zed-ros-wrapper/zed_wrapper/launch/zed.launch"></include>
	<include file="/home/usr/source/usr_ws/src/zed-ros-wrapper/zed_wrapper/launch/zed_camera.launch"></include>

<!-- state machine -->
  	<include file="/home/usr/source/usr_ws/src/state_machine/fsm/launch/control.launch"></include>
	<include file="/home/usr/source/usr_ws/src/state_machine/fsm/launch/odom.launch"></include>
	<include file="/home/usr/source/usr_ws/src/state_machine/fsm/launch/smach.launch"></include>
	<!--<include file="$(find fsm)/launch/test.launch"></include>-->

<!-- stepper motor -->
	<include file="/home/usr/source/usr_ws/src/stepper_control/launch/stepperMotor.launch">
		  
	</include> 

  <!-- sound board -->
  <include file="$(find utilities)/launch/sound_board.launch">
  </include>

</launch>
