<?xml version="1.0"?>
<launch>
  <!-- drum motor -->
	<include file="$(find roboclaw_ros)/launch/roboclaw.launch">
		<arg name="respawn" value="false" />
	</include>

  <!-- M5-->
  <node pkg="motion_control" type="M5" name="motion_controller" required=true>
  
  <!-- teleop -->
    <include file="$(find gamepad)/launch/gamepad_control.launch">
    </include>
  
</launch>
